TELEGRAM_BOT_TOKEN=replace_me
ADMIN_USER_IDS=
EDITOR_USER_IDS=id1,id2
TELEGRAM_UI_LANGUAGE=en
WEB_APP_BASE_URL=https://203.0.113.10.nip.io
WEB_APP_PORT=8080
ADMIN_BOOTSTRAP_SECRET=replace_me

LOG_LEVEL=DEBUG
LOG_FILE_PATH=logs/englishbot.log
LOG_MAX_BYTES=10485760
LOG_BACKUP_COUNT=5

CONTENT_DB_PATH=data/englishbot.db

PIXABAY_API_KEY=replace_me
PIXABAY_BASE_URL=https://pixabay.com/api/

OLLAMA_ENABLED=false
COMFYUI_ENABLED=false
