TELEGRAM_BOT_TOKEN=8606671357:AAGcQlNH_QL5vlKjvkBANhyFMbbJNC5uCvk
EDITOR_USER_IDS= someId
LOG_LEVEL=DEBUG
LOG_FILE_PATH=logs/englishbot.log
LOG_MAX_BYTES=10485760
LOG_BACKUP_COUNT=5
CONTENT_DB_PATH=data/englishbot.db
PIXABAY_API_KEY=
PIXABAY_BASE_URL=https://pixabay.com/api/
OLLAMA_MODEL=qwen2.5:7b
OLLAMA_MODEL_FILE_PATH=prompts/ollama_model.txt
OLLAMA_TIMEOUT_SEC=120
OLLAMA_EXTRACT_LINE_PROMPT_PATH=prompts/ollama_extract_line_prompt.txt
OLLAMA_EXTRACTION_MODE=line_by_line
OLLAMA_EXTRACT_TEXT_PROMPT_PATH=prompts/ollama_extract_text_prompt.txt
OLLAMA_IMAGE_PROMPT_PATH=prompts/ollama_image_prompt_prompt.txt
COMFYUI_CHECKPOINT_NAME=dreamshaper_8.safetensors
COMFYUI_VAE_NAME=
# COMFYUI_CHECKPOINT_NAME=Realistic_Vision_V5.1.safetensors
# COMFYUI_VAE_NAME=vae-ft-mse-840000-ema-pruned.safetensors
